version: '3.8'

services:
  mariadb:
    image: mariadb:latest
    volumes:
      - mariadb-data:/var/lib/mysql
    environment:
      MARIADB_ALLOW_EMPTY_ROOT_PASSWORD: yes
    ports:
      - 3306:3306

  mysql:
    image: mysql:latest
    command:
      - '--skip-log-bin'
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: yes
    ports:
      - 3306:3306
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - public
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      timeout: 2s
      retries: 5

  postgres:
    image: postgres:18-alpine
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust
    volumes:
      - postgres-data:/var/lib/postgresql
    ports:
      - 5432:5432
    networks:
      - public
    healthcheck:
      test: pg_isready -U postgres -d postgres
      interval: 2s
      timeout: 2s
      retries: 5
      start_period: 30s

  firebird:
    image: firebirdsql/firebird
    environment:
      - FIREBIRD_ROOT_PASSWORD=firebase
      - FIREBIRD_USER=SYSDBA
      - FIREBIRD_PASSWORD=firebase
      - FIREBIRD_DATABASE=sentience.fdb
      - FIREBIRD_DATABASE_DEFAULT_CHARSET=UTF8
    ports:
      - 3050:3050
    volumes:
      - firebase-data:/var/lib/firebird/data
    networks:
      - public

  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      ACCEPT_EULA: "Y"
      MSSQL_SA_PASSWORD: "Password123$"
    ports:
      - 1433:1433
    volumes:
      - sqlserver-data:/var/opt/mssql
    networks:
      - public

  sentience:
    build: ./docker
    volumes:
      - ./:/app
    command: "php sentience.php server:start"
    ports:
      - 8000:8000
    networks:
      - public

networks:
  public:


volumes:
  firebase-data:
  mariadb-data:
  mysql-data:
  postgres-data:
  sqlserver-data:


